<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/hamburger.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/fsd.png" type="image/x-icon">
    <title>:: Sergio Gabriel Maqueda :: FullStackDev ::</title>
</head>
<body class="body__overflow">
    <div class="load">
        <img src="/images/oval.svg" alt="Loading Oval" class="load__oval">
    </div>

    <div class="starFall__container">
    </div>

    <div class="formSend">
        <div class="formSend__container">
            <h2 class="formSend__title">¡Formulario enviado correctamente!</h2>
            <br>
            <div class="formSend__info">
                <h2 class="formSend__info-title">Datos principales enviados:</h2>
                <br>
                <p class="formSend__info-fullname"></p>
                <br>
                <p class="formSend__info-email"></p>
            </div>
            <br>
            <button class="formSend__close">Aceptar</button>
        </div>
    </div>

    <div class="header__container">
        <div class="header__nav-button">
            <header id="header">
                <nav id="nav">
                    <ul class="nav__ul">
                        <a href="#hero"><li class="nav__li">Inicio</li></a>
                        <a href="#about"><li class="nav__li about">Sobre mí</li></a>
                        <a href="#projects"><li class="nav__li">Proyectos</li></a>
                        <a href="#contact"><li class="nav__li">Contacto</li></a>
                        <a href="/download"><li class="nav__li">CV</li></a>
                    </ul>
                </nav>
            </header>
            <button class="hamburger hamburger--spin" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <main>
        <section id="hero">
            <div class="main__container">
                <div class="hero__titles-container">
                    <h1 class="hero__title">Sergio Gabriel Maqueda</h1>
                    <h2 class="hero__subtitle">Desarrollador Web FullStack</h2>
                </div>
                <article class="hero__icons-container">
                    <img src="/images/html5.svg" alt="HTML5">
                    <img src="/images/css3.svg" alt="CSS3">
                    <img src="/images/javascript.svg" alt="JavaScript">
                    <img src="/images/typescript.svg" alt="TypeScript">
                    <img src="/images/react.svg" alt="ReactJS">
                    <img src="/images/nodejs.svg" alt="NodeJS">
                    <img src="/images/express.png" alt="ExpressJS">
                    <img src="/images/json.svg" alt="Json">
                    <img src="/images/lua.svg" alt="Lua">
                    <img src="/images/mysql.svg" alt="MySQL">
                    <img src="/images/sequelize.svg" alt="Sequelize">
                    <img src="/images/ejs.svg" alt="EJS">
                    <img src="/images/git.svg" alt="Git">
                    <img src="/images/github.svg" alt="GitHub">
                </article>
            </div>
        </section>
        <section id="about">
            <div class="main__container about__container">
                <h2 class="about__title">Información sobre el desarrollador</h2>
                <div class="about__info-container">
                    <p class="about__info-text">Un cordial saludo a toda persona que visite mi página web.<br> Soy <span class="about__info-lines">Sergio Gabriel Maqueda</span>, desarrollador web full-stack junior, soporte técnico IT y aspirante a desarrollador/diseñador de videojuegos.<br> No poseo una trayectoria laboral en el rubro IT, pero voy con todo a por esa <span class="about__info-lines">primer gran experiencia.</span><br> Tengo un nivel de inglés decente siendo capaz de entender el lenguaje, ya sea a nivel escrito o verbal y con la posibilidad de responder en el mismo idioma de ser necesario. <br>
                    Me gusta mantener las actividades/trabajos de forma sencilla pero que no carezcan de eficiencia, tratando siempre de encontrar un <span class="about__info-lines">balance entre el minimalismo y el detalle.</span> <br>Como dato extra, tengo un perro que lo quiero como si fuese mi hijo, su nombre es Pichuchi.
                    </p>
                    <img src="/images/pichuchi.jpg" alt="Foto mascota" class="about__info-img">
                </div>
            </div>
        </section>
        <section id="projects">
            <div class="main__container">
                <h2 class="projects__title">Proyectos realizados</h2>
                <div class="projects__container">
                    <article class="projects__project">
                        <div class="projects__project-icons-container">
                            <i class="far fa-folder"></i>
                            <div class="projects__project-icons-external">
                                <a href="https://github.com/Gabriel-mq/personal-web-page" target="_BLANK"><i class="fab fa-github"></i></a>
                                <a href="#"><i class="fas fa-external-link-alt"></i></a>
                            </div>
                        </div>
                        <h3 class="projects__project-title">Personal Web Page</h3>
                        <p class="projects__project-info">Mi página web personal, compuesta por <span class="project__info-lines">Vanilla JavaScript</span>, <span class="project__info-lines">Motor de plantillas EJS</span>, <span class="project__info-lines">Node/Express</span> y patrón de arquitectura <span class="project__info-lines">MVC</span></p>
                        <div class="projects__project-icons-used-container">
                            <div class="projects__project-icons-used">
                                <img src="/images/javascript.svg" alt="JavaScript">
                                <img src="/images/ejs.svg" alt="EJS">
                                <img src="/images/nodejs.svg" alt="NodeJS">
                                <img src="/images/express.png" alt="ExpressJS">
                            </div>
                        </div>
                    </article>
                    <article class="projects__project">
                        <div class="projects__project-icons-container">
                            <i class="far fa-folder"></i>
                            <div class="projects__project-icons-external">
                                <a href="#" class="projects__project-icon"><i class="fab fa-github"></i></a>
                                <a href="#" class="projects__project-icon"><i class="fas fa-external-link-alt"></i></a>
                            </div>
                        </div>
                        <h3 class="projects__project-title">Proyecto N</h3>
                        <p class="projects__project-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates aliquid debitis quaerat vero pariatur voluptatem architecto, excepturi voluptas laudantium recusandae, corrupti eveniet. Maxime deleniti dicta optio facilis. Labore, voluptatum totam?</p>
                    </article>
                    <article class="projects__project">
                        <div class="projects__project-icons-container">
                            <i class="far fa-folder"></i>
                            <div class="projects__project-icons-external">
                                <a href="#" class="projects__project-icon"><i class="fab fa-github"></i></a>
                                <a href="#" class="projects__project-icon"><i class="fas fa-external-link-alt"></i></a>
                            </div>
                        </div>
                        <h3 class="projects__project-title">Proyecto N</h3>
                        <p class="projects__project-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates aliquid debitis quaerat vero pariatur voluptatem architecto, excepturi voluptas laudantium recusandae, corrupti eveniet. Maxime deleniti dicta optio facilis. Labore, voluptatum totam?</p>
                    </article>
                    <article class="projects__project">
                        <div class="projects__project-icons-container">
                            <i class="far fa-folder"></i>
                            <div class="projects__project-icons-external">
                                <a href="#" class="projects__project-icon"><i class="fab fa-github"></i></a>
                                <a href="#" class="projects__project-icon"><i class="fas fa-external-link-alt"></i></a>
                            </div>
                        </div>
                        <h3 class="projects__project-title">Proyecto N</h3>
                        <p class="projects__project-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates aliquid debitis quaerat vero pariatur voluptatem architecto, excepturi voluptas laudantium recusandae, corrupti eveniet. Maxime deleniti dicta optio facilis. Labore, voluptatum totam?</p>
                    </article>
                    <article class="projects__project">
                        <div class="projects__project-icons-container">
                            <i class="far fa-folder"></i>
                            <div class="projects__project-icons-external">
                                <a href="#" class="projects__project-icon"><i class="fab fa-github"></i></a>
                                <a href="#" class="projects__project-icon"><i class="fas fa-external-link-alt"></i></a>
                            </div>
                        </div>
                        <h3 class="projects__project-title">Proyecto N</h3>
                        <p class="projects__project-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates aliquid debitis quaerat vero pariatur voluptatem architecto, excepturi voluptas laudantium recusandae, corrupti eveniet. Maxime deleniti dicta optio facilis. Labore, voluptatum totam?</p>
                    </article>
                    <article class="projects__project">
                        <div class="projects__project-icons-container">
                            <i class="far fa-folder"></i>
                            <div class="projects__project-icons-external">
                                <a href="#" class="projects__project-icon"><i class="fab fa-github"></i></a>
                                <a href="#" class="projects__project-icon"><i class="fas fa-external-link-alt"></i></a>
                            </div>
                        </div>
                        <h3 class="projects__project-title">Proyecto N</h3>
                        <p class="projects__project-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates aliquid debitis quaerat vero pariatur voluptatem architecto, excepturi voluptas laudantium recusandae, corrupti eveniet. Maxime deleniti dicta optio facilis. Labore, voluptatum totam?</p>
                    </article>
                </div>
            </div>
        </section>
    </main>
    <footer id="contact">
        <div class="main__container">
            <div class="footer__container">
                <h2 class="footer__title">Formulario de contacto</h2>
                <form action="/" method="post" id="contactForm">
                    <label for="fullname">Nombre completo</label>
                    <input type="text" name="fullname" id="fullname" required>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required>
                    <label for="comments">Comentario</label>
                    <textarea name="comments" id="comments" cols="30" rows="7" required></textarea>
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/b07b190ef6.js" crossorigin="anonymous"></script>
    <script src="/js/index.js" type="module"></script>
</body>
</html>