<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/not-found.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <title>Not-Found</title>
</head>
<body>
    <div class="load">
        <img src="/images/oval.svg" alt="Loading Oval" class="load__oval">
    </div>

    <div class="starFall__container">
    </div>

    <section class="not__found">
        <h1 class="not__found-title">Error 404: La página solicitada no existe</h1>
        <br>
        <p class="not__found-subtitle">Aún así, ¡Puedes volver a la página principal haciendo click/tap en el siguiente enlace!</p>
        <br>
        <a href="/" class="not__found-home">Click/Tap Aquí</a>
    </section>

    <script src="/js/index.js" type="module"></script>
</body>
</html>